* {
    font-family: 'Poor Story', cursive;
}


.background{
    position: relative;
    max-width: 100%;
    max-height: 100%;
    z-index:-1;
    
}

h1{     
    position: absolute;   
    top: 170px;
    font-size: 7rem;
    width:100%;
    text-align: center;
    color: #1d5d39;
    z-index:1;
}

h2{
    position: absolute;   
    top: 300px;
    font-size: 2rem;
    width:100%;
    text-align: center;
    color: #68a15e;

}


.pill{
    position: absolute;   
    top: 400px;
    width:100%;
    color:#9dc27b;

}

.nav .nav-item{
    margin-left:auto;
    margin-right:auto;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #c6dbb3;
    display: block;
    
}
.nav-link{
display: block;
padding: .5rem 3rem;
}

a {
    color: #ffc107;
    text-decoration: none;
    background-color: transparent;
}

.content{
    position: absolute;   
    top: 500px;
    width:100%;
    text-align:center;
    color:#adb5bd;
}

/***weather***/

.dust-box{
	width:500px;
	margin:auto;
	text-align: center;
	margin-top: 50px;
}
.dust-content{
	text-align:center;
	padding-top:10px;
	margin-bottom:1rem;
}
.card{
    width:500px;
    margin:0 auto;
    top:400px;
}
#weatherInfo{
    text-align: center;
}

.box-clear, .box-mostlysunny, .box-cloudy, .box-rain, .box-snow, .box-fog, .box-tstorms {
     text-align: center;
}
.clear-container, .mostlysunny-container, .cloudy-container, .rain-container, .snow-container, .fog-container, .tstorms-container {
    background: #86b9e0;
    position: relative;
    display: inline-block;
    width: 500px;
    text-align:center;
    
}
.clear-total,.mostlysunny-total, .cloudy-total, .rain-total, .snow-total, .fog-total, .tstorms-total {
	background: #86b9e0;
	display: inline-block;
	font-family: Helvetica, sans-serif;
	font-size: 1em;
	height: 100px;
	line-height: 1em;
	margin: 2%;
	position: relative;
    width: 100px;
    
}
.weatherIcon:before,
.weatherIcon:after {
	content: "";
	height: inherit;
	left: 0;
	top: 0;
	width: inherit;
}
.weatherIcon > div:before,
.weatherIcon > div:after,
.weatherIcon .inner:before,
.weatherIcon .inner:after {
	content: "";
	letter-spacing: 0;
	position: absolute;
}
.clear,.inner,.mostlysunny, .cloudy, .rain, .snow, .fog, .tstorms {
	height: inherit;
	width: inherit;
}

/*** Clear***/
.clear {
	margin-top: 48.5%;
}
.clear,
.clear:before,
.clear > .inner:before,
.clear > .inner:after {
	background: #ffd632;
	left: 0;
	top: 48.5%;
	width: 100%;
	height: 0.2em;
}
.clear:before {
	transform: rotate(45deg);
}
.clear > .inner:before {
	transform: rotate(90deg);
}
.clear > .inner:after {
	transform: rotate(135deg);
}
.clear:after {
	background: #ffd632;
	border-radius: 50%;
	height: 60%;
	left: 20%;
	top: 20%;
	width: 60%;
}

/*** Partly Cloudy/Mostly Sunny ***/
.mostlysunny {
	background: #ffd632;
	height: 80%;
	margin-left: 48.5%;
	top: 0;
	width: 0.2em;
}
.mostlysunny:before{
	background: #ffd632;
	left: 0;
	top: 48.5%;
	width: 100%;
	height: 0.2em;
}
.mostlysunny > .inner:before {
	border-bottom: 0.2em solid #ffd632;
	border-left: 0.2em solid #ffd632;
	height: 80%;
	left: 8%;
	top: -48.5%;
	transform: rotate(-45deg);
	width: 80%;
}
.mostlysunny > .inner{
	background: #ffd632;
	border-radius: 50%;
	height: 60%;
	left: 20%;
	position: absolute;
	top: 20%;
	width: 60%;
}
.mostlysunny > .inner:after {
	background: #fff;
	border-radius: 50%;
	bottom: -33%;
	height: 65%;
	right: -15%;
	width: 70%;
}
.mostlysunny:after{
	background: #fff;
	border-radius: 50%;
	bottom: 0;
	height: 50%;
	left: 10%;
	width: 55%;
}
/*** Cloudy ***/
.cloudy:before,
.cloudy > .inner:before,
.cloudy > .inner:after,
.cloudy:after {
	background: #fff;
	border-radius: 50%;
}
.cloudy:before {
	height: 35%;
	right: 0;
	top: 0;
	width: 38%;
}
.cloudy > .inner:before {
	height: 27%;
	left: 45%;
	top: 8%;
	width: 30%;
}
.cloudy > .inner:after {
	bottom: 0;
	height: 50%;
	right: 0;
	width: 55%;
}
.cloudy:after {
	bottom: 0;
	height: 63%;
	left: 0;
	width: 70%;
}
/*** Fog / Hazy ***/
.fog:before,
.fog:after {
	background: #fff;
	border-radius: 50%;
}
.fog:before {
	height: 63%;
	left: 0;
	top: 0;
	width: 70%;
}
.fog:after {
	height: 50%;
	right: 0;
	top: 13%;
	width: 55%;
}
.fog > .inner:before,
.fog > .inner:after {
	color: #fff;
	content: "\2307";
	font-size: 5em;
	left: 7%;
	transform: rotate(90deg);
}
.fog > .inner:before {
	bottom: 14%;
}
.fog > .inner:after {
	bottom: 0;
}

/*** Chance Rain / Rain ***/
.rain:before,
.rain > .inner:before {
	border-left: 0.2em dashed #fff;
	border-right: 0.2em dashed #fff;
	bottom: 0;
	height: 60%;
	transform: skew(-20deg);
	width: 13%;
}

.rain:before {
	left: 25%;
}

.rain > .inner:before {
	left: 57%;
}

.rain > .inner:after,
.rain:after {
	background: #7799af;
	border-radius: 50%;
}

.rain > .inner:after {
	height: 63%;
	left: 0;
	top: 0;
	width: 70%;
}

.rain:after {
	height: 50%;
	right: 0;
	top: 13%;
	width: 55%;
}

/*** Chance T-Storms / T-Storms ***/

.tstorms:before {
	background: #ffd632;
	height: 30%;
	left: 43%;
	top: 50%;
	transform: skew(-20deg);
	width: 10%;
}

.tstorms > .inner:before {
	border-right: 0.7em solid transparent;
	border-top: 1.9em solid #ffd632;
	bottom: 0;
	left: 45%;
	transform: skew(-20deg);
}

.tstorms > .inner:after,
.tstorms:after {
	background: #7799af;
	border-radius: 50%;
}

.tstorms > .inner:after {
	height: 63%;
	left: 0;
	top: 0;
	width: 70%;
}

.tstorms:after {
	height: 50%;
	right: 0;
	top: 13%;
	width: 55%;
}

/*** Chance Snow / Snow ***/

.snow > .inner:before,
.snow > .inner:after {
	color: #fff;
	content: "\2733\ \2733\ \2733";
	font-size: 1em;
}

.snow > .inner:before {
	bottom: 17%;
	right: 21%;
}

.snow > .inner:after {
	bottom: 0;
	left: 21%;
}

.snow:before,
.snow:after {
	background: #bacedd;
	border-radius: 50%;
}

.snow:before {
	height: 63%;
	left: 0;
	top: 0;
	width: 70%;
}

.snow:after {
	height: 50%;
	right: 0;
	top: 13%;
	width: 55%;
}

@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700);
.snip1273 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  margin: 10px;
  min-width: 310px -60px;
  max-width: 310px;
  width: 100%;
  color: #ffffff;
  text-align: center;
  background-color: #000000;
  font-size: 20px;
}
.snip1273 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}
.snip1273 img {
  position: relative;
  max-width: 100%;
  vertical-align: top;
}
.snip1273 figcaption {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  padding: 20px 30px;
}
.snip1273 figcaption:before,
.snip1273 figcaption:after {
  width: 1px;
  height: 0;
}
.snip1273 figcaption:before {
  right: 0;
  top: 0;
}
.snip1273 figcaption:after {
  left: 0;
  bottom: 0;
}

.snip1273 p {
  font-size: 15px;
  font-weight: 500;
  margin: 0 0 15px;
}
.snip1273 a {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
.snip1273:before,
.snip1273:after,
.snip1273 figcaption:before,
.snip1273 figcaption:after {
  position: absolute;
  content: '';
  background-color: #ffffff;
  z-index: 1;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  opacity: 0.8;
}
.snip1273:before,
.snip1273:after {
  height: 1px;
  width: 0%;
}
.snip1273:before {
  top: 0;
  left: 0;
}
.snip1273:after {
  bottom: 0;
  right: 0;
}
.snip1273:hover img,
.snip1273.hover img {
  opacity: 0.4;
}
.snip1273:hover figcaption,
.snip1273.hover figcaption {
  opacity: 4;
}
.snip1273:hover figcaption:before,
.snip1273.hover figcaption:before,
.snip1273:hover figcaption:after,
.snip1273.hover figcaption:after {
  height: 100%;
}
.snip1273:hover:before,
.snip1273.hover:before,
.snip1273:hover:after,
.snip1273.hover:after {
  width: 100%;
}
.snip1273:hover:before,
.snip1273.hover:before,
.snip1273:hover:after,
.snip1273.hover:after,
.snip1273:hover figcaption:before,
.snip1273.hover figcaption:before,
.snip1273:hover figcaption:after,
.snip1273.hover figcaption:after {
  opacity: 0.1;
}

